ebayServices/WebContent/wsdl/productService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://product.ebay" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://product.ebay" xmlns:intf="http://product.ebay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://product.ebay" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllProducts">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllProductsResponse">
    <complexType>
     <sequence>
      <element name="getAllProductsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToBid">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
      <element name="productid" type="xsd:int"/>
      <element name="bidamount" type="xsd:double"/>
      <element name="selectedquantity" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToBidResponse">
    <complexType>
     <sequence>
      <element name="addToBidReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProduct">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
      <element name="itemName" type="xsd:string"/>
      <element name="itemDescription" type="xsd:string"/>
      <element name="itemQuantity" type="xsd:int"/>
      <element name="itemPrice" type="xsd:int"/>
      <element name="sellerName" type="xsd:string"/>
      <element name="bidding" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProductResponse">
    <complexType>
     <sequence>
      <element name="addProductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addToBidResponse">

      <wsdl:part element="impl:addToBidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToBidRequest">

      <wsdl:part element="impl:addToBid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductRequest">

      <wsdl:part element="impl:addProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductResponse">

      <wsdl:part element="impl:addProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllProductsRequest">

      <wsdl:part element="impl:getAllProducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllProductsResponse">

      <wsdl:part element="impl:getAllProductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="productService">

      <wsdl:operation name="getAllProducts">

         <wsdl:input message="impl:getAllProductsRequest" name="getAllProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllProductsResponse" name="getAllProductsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToBid">

         <wsdl:input message="impl:addToBidRequest" name="addToBidRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToBidResponse" name="addToBidResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProduct">

         <wsdl:input message="impl:addProductRequest" name="addProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:addProductResponse" name="addProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="productServiceSoapBinding" type="impl:productService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToBid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToBidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToBidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="productServiceService">

      <wsdl:port binding="impl:productServiceSoapBinding" name="productService">

         <wsdlsoap:address location="http://localhost:8080/ebayServices/services/productService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
