ebayServices/WebContent/wsdl/validateLogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://login.ebay" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://login.ebay" xmlns:intf="http://login.ebay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://login.ebay" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="register">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="fname" type="xsd:string"/>
      <element name="lname" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerResponse">
    <complexType>
     <sequence>
      <element name="registerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validate">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateResponse">
    <complexType>
     <sequence>
      <element name="validateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateRequest">

      <wsdl:part element="impl:validate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateResponse">

      <wsdl:part element="impl:validateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerResponse">

      <wsdl:part element="impl:registerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerRequest">

      <wsdl:part element="impl:register" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="validateLogin">

      <wsdl:operation name="register">

         <wsdl:input message="impl:registerRequest" name="registerRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerResponse" name="registerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validate">

         <wsdl:input message="impl:validateRequest" name="validateRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateResponse" name="validateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="validateLoginSoapBinding" type="impl:validateLogin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="register">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="validateLoginService">

      <wsdl:port binding="impl:validateLoginSoapBinding" name="validateLogin">

         <wsdlsoap:address location="http://localhost:8080/ebayServices/services/validateLogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
